<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI + Fetch</title>
    <link rel="stylesheet" href="/static/static.css">
    <article id="urls" 
             data-url="{{url}}">
    </article>
</head>
<body>    
  <h1>Поиск по данным</h1>
  <!-- Поле ввода для поиска -->
  <input type="text" id="search" placeholder="Введите запрос для поиска...">
  
  <ul id="data-list"></ul>
  <button id="prev-page">Предыдущая</button>
  <button id="next-page">Следующая</button>
  <!-- Подключаем скрипт -->
  <script src="/static/get_objects.js"></script>
</body>
</html>

